@{
    ViewData["Title"] = "Pizza Box";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pizza Box.</h1>
    <p>Place your orders <a href="@Url.Action("Index", null, new { area = string.Empty, controller = "Order" })">
    <span>here</span></a>.</p>
</div>
