@model PizzaLib.Models.OrderInProgress

@{
    ViewData["Title"] = "Finalize Order";
}

<h1>OrderDetails</h1>
<div>
    <h4>Order in Progress</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Cost
                </th>
                <th>
                    Size
                </th>
                <th>
                    Crust
                </th>
                <th>
                    Special
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Pizzas)
            {
                <tr>
                    <td>
                        $@Html.DisplayTextFor(modelItem => item.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Size)"
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Crust)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Preset)
                    </td>
                    <td>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="OrderDetails">Back</a>
    <a asp-action="Finalize">Confirm Purchase</a>
    <a asp-action="CancelOrder">Cancel Order</a>
</div>
